<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/images/img1.PNG">
        </div>
    

    <div class="col-md-6">
        <h1>home page</h1>
        <p>In a fast-growing world, people and their capabilities are often measured by their academic credentials. It
            is our belief that everyone should get equitable access to educational opportunities regardless of their
            nationality, geographical and socio-economic backgrounds. This would require the ability to deliver
            credible, quality learning and education , and the associated certification at large scale, with minimal
            cost to the learners. Universities and Institutions in India have the ability to and in fact already serve
            millions of Indian and International Students at one of the lowest cost structures in the World, online ,and
            we intend to be the ones to ensure that our Institutions take that same zeal and capability online, to
            learners across the World!

            All of us here at University18 work with a mission to ensure that men and women from across the globe have
            access to the same high-quality teaching and learning that students at the University Campus do – via the
            U18 eVolute Online Education Platform. We are with our learners every step of the way, to ensure that they
            realize their goals with us, here at University18, and are proud to have served Learners achieve their goals
            , reaching learners & institutions across 150+ Nations now.</p>
    </div>
</div>
</div>
</section>